header
  h1.logo oliver<span id logo_bold>howarth</span>
  
  nav.site-nav.cf
    ul
      li: a(href="#") Home
      li: a(href="#") Portfolio
      li: a(href="#") Blog
      a(href="mailto:inquires@oliverhowarth.me").navcontact Contact Us
  
  
